@charset "UTF-8";
/* adaptación a 320 px*/
@media only screen and (min-width: 320px) {
  * {
    padding: 0;
    font-size: 14px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: black; }
  /* definición formato del body */
  /* definición de estructura de grilla */
  .grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto 80px auto 160px;
    grid-template-areas: "grillaheader" "menuGrilla" "grillabv" "videogrilla" "descripgrilla" "grillafooter";
    align-items: center;
    justify-content: center; }
  /* IDs para las grillas */
  #grillaheader {
    grid-area: grillaheader;
    width: 100%;
    height: 110%; }
  #menuGrilla {
    grid-area: menuGrilla;
    width: 100%; }
  .bg-light {
    background-color: #508ac4 !important; }
  #grillafooter {
    grid-area: grillafooter;
    width: 100%; }
  #grillabv {
    grid-area: grillabv;
    width: 100%; }
  #descripgrilla {
    grid-area: descripgrilla;
    width: 100%; }
  #videogrilla {
    grid-area: videogrilla;
    width: 100%;
    text-align: center; }
  /* Fin de IDs para las grillas */
  /* Formato del Header y Título principal */
  .header {
    color: black;
    display: flex;
    flex-direction: row;
    padding: 2em 4em;
    height: 100px;
    justify-content: center;
    align-items: center; }
    .header a {
      text-decoration: none; }
  .header__titulo {
    order: 0;
    text-transform: capitalize;
    font-size: .95rem;
    margin-left: 10px; }
  /* Formato de ícono del Header y transición */
  .header__logo {
    order: -1;
    transition: width .2s, height .2s;
    width: 60px;
    height: 60px;
    vertical-align: inherit; }
    .header__logo .header__logo:Hover {
      width: 65px;
      height: 65px; }
  /* Formato del Header y Título principal */
  /* Formato footer */
  footer {
    background-color: #508ac4 !important;
    padding-top: 2em;
    padding-bottom: 2em; }
    footer .footer__cuerpo {
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: stretch; }
      footer .footer__cuerpo b {
        font-weight: bold;
        font-size: .9rem; }
      footer .footer__cuerpo .footer__cuerpo__redes {
        flex-basis: .5rem;
        flex-grow: 1;
        flex-shrink: 1;
        text-align: center;
        padding-bottom: 1em;
        padding-top: 1em; }
        footer .footer__cuerpo .footer__cuerpo__redes a {
          text-decoration: none; }
        footer .footer__cuerpo .footer__cuerpo__redes p {
          font-size: .8rem;
          margin-bottom: 7px; }
        footer .footer__cuerpo .footer__cuerpo__redes .footer__cuerpo__redes__whatsapp img {
          width: 3rem;
          height: 3rem; }
        footer .footer__cuerpo .footer__cuerpo__redes .footer__cuerpo__redes__instagram img {
          width: 3rem;
          height: 3rem; }
    footer .footer__cuerpo__ubicacion {
      flex-basis: .7rem;
      flex-grow: 1;
      flex-shrink: 1;
      text-align: center;
      padding-top: 1em; }
      footer .footer__cuerpo__ubicacion iframe {
        width: 12rem;
        height: 8rem; }
      footer .footer__cuerpo__ubicacion b {
        font-weight: bold;
        font-size: .9rem; }
      footer .footer__cuerpo__ubicacion p {
        font-size: .8rem;
        margin-bottom: 7px; }
  /* Fin formato footer */
  /* Formato de Sección principal de Home */
  .cuerpo__bienvenidos {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1em;
    display: inline-block;
    text-align: center; }
  .cuerpo__descripcionEmpresa {
    text-align: center;
    font-size: 1rem;
    padding-left: .9em;
    padding-right: .9em; }
  #homeImages {
    width: inherit; }
  /* Fin de formato de Sección principal de Home */
  /* Formulario de Contacto - Pagina Contactanos */
  .formulario {
    display: flex;
    width: 90%;
    max-width: 400px;
    flex-direction: column;
    margin-top: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    border-style: groove; }
  /* Formato lista de formulario adaptada */
  dl, ol, ul {
    list-style-type: none; }
  ol, ul {
    padding-left: 0; }
  /* Fin formato lista de formulario adaptada */
  #contactanosPAGE {
    background-image: url("../Images/fondoContactanos.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; }
  #cvPage {
    background-image: url("../Images/trabaja.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; }
  #QSPage {
    background-image: url("../Images/quienes.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; }
  /* Definición de formatos generales */
  .titulo {
    font-weight: 600;
    font-size: 1.3rem; }
  .subtitulo {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem; }
  .textoBasico {
    font-size: 1rem;
    padding: 0.5rem; }
  span {
    font-weight: bold; }
  h2 {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold; }
  .btn {
    padding: .1rem .6rem;
    margin: .2rem; }
  .w-100 {
    width: 250px !important;
    background-color: white; }
  .card {
    border: none;
    background-color: #a0a0a0;
    color: #fff;
    border-radius: 12px; }
  h2.mb-1 {
    margin-top: 0;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.2rem; }
  div.d-flex.flex-row.align-items-center p {
    font-size: .9rem;
    margin-right: 1em;
    margin-left: 12px;
    text-align: justify; } }

/* Adaptación a 768 px para Grilla*/
@media only screen and (min-width: 768px) {
  /* definición de estructura de grilla */
  .grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 110px auto 90px auto 160px 200px;
    gap: 0.2em; }
  #grillabv {
    grid-column: 1/2;
    grid-row: 3/4; }
  #videogrilla {
    margin-top: 1em;
    grid-column: 1/2;
    grid-row: 4/5;
    width: inherit; }
  #descripgrilla {
    grid-column: 1/2;
    grid-row: 5/6; }
  #grillafooter {
    grid-column: 1/2;
    grid-row: 6/7; }
  /* Fin adaptación de distribución de secciones a tamaño de pantalla*/
  /* Formato de header */
  .header {
    width: 100%; }
  .header__titulo {
    font-size: 1.3rem; }
  /* transición de ícono principal */
  .header__logo {
    transition: width 1s, height 1s;
    width: 70px;
    height: 70px; }
    .header__logo .header__logo:Hover {
      width: 80px;
      height: 80px; }
  /* Fin de formato de header */
  /*Formato  */
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start; }
  .navbar-expand-lg .navbar-toggler {
    display: none; }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: center; }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row; }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem; }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute; }
  /* Fin formato de menú*/
  /* Formato de footer */
  footer .footer__cuerpo {
    display: flex;
    flex-direction: row; }
    footer .footer__cuerpo b {
      font-size: 1.4rem; }
    footer .footer__cuerpo .footer__cuerpo__redes p {
      font-size: 1rem; }
  footer .footer__cuerpo__ubicacion b {
    font-weight: bold;
    font-size: 1.4rem; }
  footer .footer__cuerpo__ubicacion p {
    font-size: 1rem; }
  /* Fin de formato de footer */
  /* Inicio de formato de cuerpo de HOME */
  .cuerpo__bienvenidos {
    font-size: 3rem; }
  .cuerpo__descripcionEmpresa {
    font-size: 1.5rem; }
  /* Fin de formato de cuerpo de HOME */
  .snipimage img {
    max-height: 440px;
    max-width: 500px; }
  .w-100 {
    width: 100% !important;
    background-color: white; }
  h2.mb-1 {
    margin-top: 0;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.2rem; }
  div.d-flex.flex-row.align-items-center p {
    font-size: .9rem;
    margin-right: 2em;
    margin-left: 12px; }
  .col-md-4 {
    flex: 0 0 auto;
    width: 41.3333333333%;
    align-self: center; }
  .col-md-8 {
    flex: 0 0 auto;
    width: 55.6666666667%; } }

@media only screen and (min-width: 1024px) {
  /* Adaptación a 1024 px para Grilla*/
  /* definición de estructura de grilla */
  .grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 110px auto 90px auto 160px 200px;
    gap: 0.2em; }
  #grillabv {
    grid-column: 1/2;
    grid-row: 3/4; }
  #videogrilla {
    margin-top: 1em;
    grid-column: 1/2;
    grid-row: 4/5;
    width: inherit; }
  #descripgrilla {
    grid-column: 1/2;
    grid-row: 5/6; }
  #grillafooter {
    grid-column: 1/2;
    grid-row: 6/7; }
  /* Fin adaptación de distribución de secciones a tamaño de pantalla*/
  /* Formato de header */
  .header__titulo {
    font-size: 1.4rem; }
  /* formato y transición de ícono principal */
  .header__logo {
    transition: width 1s, height 1s;
    width: 80px;
    height: 80px; }
    .header__logo .header__logo:Hover {
      width: 100px;
      height: 100px; }
  /* Fin de formato de header */
  /*Inicio de adaptación de cuerpo principal de la home*/
  .cuerpo__bienvenidos {
    font-size: 3rem; }
  /*Fin de adaptación de cuerpo principal de la home*/
  /*Menú formato adaptación*/
  .navbar-expand-lg .navbar-collapse {
    display: flex;
    flex-basis: auto;
    justify-content: center; }
  /*Menú formato adaptación*/
  .snipimage img {
    max-height: 500px;
    max-width: 300px; }
  .w-100 {
    width: 100% !important;
    background-color: white; }
  h2.mb-1 {
    margin-top: 0;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.7rem; }
  div.d-flex.flex-row.align-items-center p {
    font-size: 1.1rem;
    margin-right: 2em;
    margin-left: 12px; } }
